.equipos-container {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #003B73;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.equipos-card {
  max-width: 90%;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
}

.equipos-title {
  font-size: 24px;
  font-weight: bold;
}

.table-container {
  overflow-x: auto;
  border-radius: 12px;
}

.equipos-table {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid #ddd;
  color: #000;
  background-color: white;
  overflow: hidden; 
}

.equipos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.equipo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 0px 8px;
}

.score{
  font-size: 0.8rem;
}

.equipo-logo {
  width: 60px;
  height: 40px;
  padding: 0px 8px 0px 8px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

.participante {
  color: #555;
  font-weight: bold;
}

.puntaje {
  font-weight: bold;
  color: #003366; 
}


.chip-afc {
  background-color: #d32f2f; 
  color: #fff;
  font-size: 0.7em;
  padding: 4px;
  border-radius: 8px;
}

.chip-nfc {
  background-color: #1976d2; 
  color: #fff;
  font-size: 0.7em;
  padding: 4px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .equipos-table {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  .info {
    margin-top: 6px;
    align-items: center;
  }
}







.grid-row {
  display: grid;
  grid-template-columns: 
    1.2fr     /* Logo */
    2fr   /* Equipo */
    1.2fr     /* Grupo */
    2fr     /* Puntos */
    2fr;  /* Participante */

  align-items: center;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  background-color: white;
  color: #000;
}


.chip-grupo {
  background-color: #003B73; 
  color: #fff;
  font-size: 0.7em;
  padding: 4px;
  border-radius: 8px;
}
