<div class="equipos-container">
  <mat-card class="equipos-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <mat-card-title class="equipos-title">Equipos en Competición</mat-card-title>
      <h1> ⚽</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="table-container">

      @for (e of equipos$ | async; track e.id) {

          @let p = (e.participante ?? '').trim();

          @if (p && p.toLowerCase() !== 'no asignado') {
            <div class="grid-row">
                <div>
                  <img [src]="e.logo" alt="{{ e.nombre }}" class="equipo-logo">
                </div>
                <div class="equipo">
                  <span>{{ e.nombre }}</span> 
                  @if (e.pg !== 0 || e.pe !== 0 || e.pp !== 0 ){
                    <span class="score">{{ e.pg }}-{{ e.pe }}-{{ e.pp }}</span>
                  }   
                </div>
                <div class="chip-grupo">
                  Grupo {{ e.grupo }}
                </div>
                <div class="puntaje">
                  {{ e.pg * 10 + e.pe * 5 + e.po * 20 + e.pc * 30 + e.ps * 40 + e.pf * 50 }} puntos
                </div>
                <div class="participante">
                  {{ e.participante }}
                </div>
                  
            </div>
          }
      }

    </div>    

  </mat-card>
</div>



