<div class="reglamento-container">
  <mat-card class="reglamento-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <mat-card-title class="reglamento-title">Reglamento FIFA Predictor</mat-card-title>
      <h1> ⚽</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="container">
      <ol>
        <li>A cada participante se le asignará un número aleatorio e irrepetible por medio de ChatGPT.</li>
        <li>El participante con el menor número empezará escogiendo el primer equipo.</li>
        <li>El siguiente participante con el número consecutivo en orden ascendente escogerá su equipo en diferente división.</li>
        <li>Se seguirá escogiendo de la misma manera hasta que haya un equipo escogido en cada división.</li>
        <li>Cuando se haya escogido un equipo por división, el siguiente participante del orden ascendente escogerá un segundo equipo en cualquier división.</li>
        <li>La dinámica se repetirá hasta que los equipos queden repartidos equitativamente en los participantes sin repetir equipo en una división.</li>
        <li>Cada participante tendrá dos equipos por conferencia.</li>
        <li>Para las rondas de comodines, divisional, campeonato de conferencia y Super Bowl, cada participante tendrá un equipo en cada conferencia.</li>
        <li>La asignación se hará dando prioridad a los participantes con el menor puntaje al cierre de la ronda.</li>
        <li>Si dos de los equipos seleccionados en la ronda anterior por el participante pasan a la siguiente ronda, el participante los conservará si están en diferente conferencia.</li>
        <li>Si son más de dos los equipos seleccionados en la ronda anterior por el participante que pasan a la siguiente ronda o los tiene en la misma conferencia, el participante deberá ceder los que excedan el par y/o que que exceda uno en la misma conferencia.</li>
        <li>Si son menos de dos los equipos seleccionados en la ronda anterior por el participante que pasan a la siguiente ronda, el participante escogerá entre los disponibles hasta completar el par pero que queden en diferente conferencia.</li>
        <li>Los equipos deberán quedar repartidos de forma equitativa sin repetir participante, a menos que el número de participantes exceda el número de equipos.</li>
        <li>Si un equipo asignado a un participante gana un partido de temporada regular se le sumarán 10 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana un partido de ronda de comodines se le sumarán 20 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana un partido de ronda de divisional se le sumarán 30 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana queda de primero en la conferencia antes de la ronda de comodines se le sumarán 20 puntos adicionales al participante debido a que no participará en la ronda de comodines.</li>
        <li>Si un equipo asignado a un participante gana el partido de final de conferencia se le sumarán 40 puntos al participante.</li>
        <li>Si el equipo asignado a un participante gana el partido del Super Bowl se le sumarán 50 puntos al participante.</li>
        <li>Si un equipo asignado a un participante empata un partido sumará la mitad de los puntos al participante según la ronda.</li>
        <li>El valor de la apuesta es de $50.000 COP</li>
        <li>Quien haya acumulado más puntos al finalizar el Super Bowl recibirá el 70% del recaudo.</li>
        <li>Quien haya acumulado el segundo puesto en puntos al finalizar el Super Bowl recibirá el 30% del recaudo.</li>
        <li>Si al finalizar el Super Bowl hay empate en el primer lugar, el total del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el primer lugar.</li>
        <li>Si al finalizar el Super Bowl hay empate en el segundo lugar, el 30% del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el segundo lugar.</li>
        <li>No se puede cambiar de equipos hasta que termine la ronda, teniendo en cuenta los puntos anteriores.</li>
      </ol>
    </div>
  </mat-card>
</div>

