<div class="reglamento-container">
  <mat-card class="reglamento-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <mat-card-title class="reglamento-title">Reglamento FIFA Predictor</mat-card-title>
      <h1> ⚽</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="container">
      <ol>
        <li>La asignación de los equipos se hará siempre por medio de una selección aleatoria solicitada a ChatGPT.</li>
        <li>Para la fase de Grupos y de Eliminatoria 32 cada participante tendrá dos equipos en juego.</li>
        <li>El número de equipos habilitados en la fase de grupos será el doble de jugadores participantes.</li>
        <li>Inicialmente se hará una asignación aleatoria por medio de ChatGPT de los primeros equipos del Ranking FIFA que estén clasificados al mundial.</li>
        <li>Ejemplo: Si son diez participantes, se hará la selección aleatoria de los primeros diez equipos del Ranking FIFA que estén clasificados al mundial.</li>
        <li>Igualmente, en la segunda selección, se hará una asignación aleatoria usando los siguientes equipos del Ranking FIFA que estén clasificados al mundial.</li>
        <li>Ejemplo: Si son diez participantes, se hará la selección aleatoria de los equipos en posiciones del 11 al 20 del Ranking FIFA que estén clasificados al mundial.</li>        
        <li>Para la fase de Eliminatoria 32 los participantes que tengan asignados equipos que clasificaron los conservarán.</li>
        <li>Los participantes que tengan equipos que no clasifiquen entrarán de nuevo en sorteo por medio de ChatGPT.</li>
        <li>Se hará una primera ronda para los que perdieron ambos equipos usando los equipos mejor posicionados en el Ranking FIFA para hacer una primera asignación.</li>
        <li>Se hará una segunda ronda para los participantes que les falte un equipo con los sigueintes equipos del Ranking FIFA.</li>
        <li>Para las fases de Octavos de Final, Cuartos de Final, Semifinal y Final, cada participante tendrá un equipo en juego.</li>
        <li>El participante cuyo equipo no clasifique entrará de nuevo en sorteo por medio de ChatGPT.</li>
        <li>Los equipos solo podrán tener asignados más de un participante cuando el número de participantes exceda el número de equipos.</li>
        <li>Siempre se asignarán primero los equipos que tengan un menor número de participantes asignados buscando el balance.</li>
        <li>Cuando un equipo gane un partido de Fase de grupos, se le sumarán 10 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Eliminatoria 32, se le sumarán 10 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Octavos de Final, se le sumarán 20 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Cuartos de Final, se le sumarán 30 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Cuartos de Semifinal, se le sumarán 40 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de de la Final, se le sumarán 50 puntos al participante que lo tenga seleccionado.</li>
        <li>El valor de la apuesta es de $25.000 COP</li>
        <li>Quien haya acumulado más puntos al finalizar el partido de la Final recibirá el 70% del recaudo.</li>
        <li>Quien haya acumulado el segundo puesto en puntos al finalizar el partido de la Final recibirá el 30% del recaudo.</li>
        <li>Si al finalizar el partido de la Final hay empate en el primer lugar, el total del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el primer lugar.</li>
        <li>Si al finalizar el partido de la Final hay empate en el segundo lugar, el 30% del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el segundo lugar.</li>
        <li>No se puede cambiar de equipos hasta que termine la fase, teniendo en cuenta los puntos anteriores.</li>
      </ol>
    </div>
  </mat-card>
</div>

