<div class="reglamento-container">
  <mat-card class="reglamento-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <mat-card-title class="reglamento-title">Reglamento FIFA Predictor</mat-card-title>
      <h1> ⚽</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="container">
      <ol>
        <li>Para la selección de los equipos en la Fase de Grupos a cada participante se le asignará un número aleatorio e irrepetible por medio de ChatGPT.</li>
        <li>Se harán dos rondas de selección para que cada participante quede con dos equipos en la Fase de Grupos.</li>        
        <li>El participante con el número menor empezará la primera ronda escogiendo el primer equipo.</li>
        <li>El siguiente participante con el número consecutivo en orden ascendente escogerá un equipo que no haya sido seleccionado.</li>        
        <li>Se seguirá escogiendo de la misma manera hasta que cada participante haya escogido un equipo.</li> 
        <li>Para la segunda ronda, el participante con el número mayor empieza seleccionando un equipo que no haya sido seleccionado.</li> 
        <li>El siguiente participante con el número consecutivo en orden descendente escogerá un equipo que no haya sido seleccionado.</li>        
        <li>Se seguirá escogiendo de la misma manera hasta que cada participante haya escogido su segundo equipo.</li> 
        <li>Para la fase de Eliminatoria 32, cada participante también tendrá dos equipos.</li>        
        <li>Para las fases de Octavos de Final, Cuartos de Final, Semifinal y Final cada participante tendrá un equipo.</li>
        <li>Si el equipo seleccionado por el participante clasifica a la siguiente fase, el participante lo conservará.</li>
        <li>Si el equipo seleccionado por el participante es eliminado, el participante tendrá derecho a escoger un equipo.</li>
        <li>La asignación se hará dando prioridad a los participantes con el menor puntaje al cierre de la fase.</li>
        <li>Si el número de equipos es mayor al número de participantes, el participante no podrá escoger un equipo ya seleccionado.</li>
        <li>Si el número de equipos es menor al número de participantes, el participante podrá escoger un equipo ya seleccionado.</li> 
        <li>Solo cuando todos los equipos disponibles hayan sido seleccionados en un mismo número de veces, se puede iniciar a hacer una selección más sobre un equipo ya seleccionado.</li>
        <li>Si el número de participantes excede de 16, lo equipos habilitados se limitarán a los 32 primero equipos del ranking FIFA que estén clasificados al mundial.</li>
        <li>Cuando un equipo gane un partido de Fase de grupos, se le sumarán 10 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Eliminatoria 32, se le sumarán 10 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Octavos de Final, se le sumarán 20 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Cuartos de Final, se le sumarán 30 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de Cuartos de Semifinal, se le sumarán 40 puntos al participante que lo tenga seleccionado.</li>
        <li>Cuando un equipo gane el partido de de la Final, se le sumarán 50 puntos al participante que lo tenga seleccionado.</li>
        <li>El valor de la apuesta es de $20.000 COP</li>
        <li>Quien haya acumulado más puntos al finalizar el partido de la Final recibirá el 70% del recaudo.</li>
        <li>Quien haya acumulado el segundo puesto en puntos al finalizar el partido de la Final recibirá el 30% del recaudo.</li>
        <li>Si al finalizar el partido de la Final hay empate en el primer lugar, el total del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el primer lugar.</li>
        <li>Si al finalizar el partido de la Final hay empate en el segundo lugar, el 30% del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el segundo lugar.</li>
        <li>No se puede cambiar de equipos hasta que termine la fase, teniendo en cuenta los puntos anteriores.</li>
      </ol>
    </div>
  </mat-card>
</div>

