.home-container {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #003B73; 
}

.welcome-card {
  margin-top: 32px;
  padding: 20px;
  text-align: center;
  max-width: 90%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  width: 50px;
}

.subtitle {
  margin: 20px 0;
  font-weight: bold;
  color: white;
}

.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.mat-header-cell {
  font-weight: bold;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.primer-lugar {
  background-color: #0b2d5c !important;
  font-weight: bold;
}

.segundo-lugar {
  background-color: #D50A0A !important;
  font-weight: bold;
}

.icono-trofeo {
  color: darkorange;
  margin-left: 6px;

}

.icono-medalla {
  color: steelblue;
  margin-left: 6px;
}

.with-icon {
  display: flex;
  align-items: center;
}