<div class="juegos-container">
  <mat-card class="juegos-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <mat-card-title class="juegos-title">
          Juegos de la Semana {{ currentWeekId }}
      </mat-card-title>
      <h1> ⚽</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="table-container">

      @for (j of juegos$ | async; track j.id) {
        <div class="grid-row">

          <div class="equipo equipo-local">

            <img [src]="j.logoLocal" alt="{{ j.local }}" class="equipo-logo">

            <div class="equipo-info">
              <span class="nombre">{{ j.local }}</span>

              @if ((j.participanteLocal || '').trim()) {
                <span class="participante">{{ j.participanteLocal }}</span>
              } @else {
                <span class="participante">No asignado</span>
              }
            </div>

          </div>

          <div class="vs">Vs</div>

          <div class="equipo equipo-visitante">
            <img [src]="j.logoVisitante" alt="{{ j.visitante }}" class="equipo-logo">

            <div class="equipo-info">
              <span class="nombre">{{ j.visitante }}</span>

              @if ((j.participanteVisitante || '').trim()) {
                <span class="participante">{{ j.participanteVisitante }}</span>
              } @else {
                <span class="participante muted">No asignado</span>
              }
            </div>
          </div>

          <span>{{ j.fecha }}</span>
          <span>{{ j.hora }}</span>

        </div>
      }

    </div>    

  </mat-card>

  <button class="fab-left" mat-fab (click)="prevWeek()"
    [disabled]="currentWeekId === null || minWeek === null || currentWeekId <= minWeek">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button class="fab-right" mat-fab (click)="nextWeek()"
    [disabled]="currentWeekId === null || maxWeek === null || currentWeekId >= maxWeek">
    <mat-icon>chevron_right</mat-icon>
  </button>





</div>

