<div class="login-container">
  <mat-card class="login-card">
    <div class="header">
      <img src="https://digitalhub.fifa.com/transform/157d23bf-7e13-4d7b-949e-5d27d340987e/WC26_Logo?&io=transform:fill,height:210&quality=75" alt="FIFA Logo" class="logo">
      <h1>Iniciar sesión</h1>
      <h1> 🏈</h1>
    </div>
    <mat-divider></mat-divider>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="box">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="box">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <div>
        <button mat-raised-button type="submit">Entrar</button>
      </div>
    </form>
  </mat-card>
</div>
